Environments

.env
.env.*
.DS_Store

Python

pycache/
*.pyc
venv/
pip-log.txt
pip-delete-this-arg.txt
.pytest_cache/

Node/Nuxt

node_modules/
/frontend/.nuxt/
/frontend/.output/
/frontend/dist/
/frontend/npm-debug.log*

Docker

*.log
!docker-compose.yml